@import url(./stylesheet.css);

.talks > ul > li > a,
.posts > ul > li > a,
.projects > ul > li > a {
  color: #333;
  text-decoration: none;
}

.talks > ul > li > a::after,
.posts > ul > li > a::after,
.projects > ul > li > a::after {
  color: #999;
  display: block;
  content: attr(title);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}